@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-decoration: none ;

}
body {
    width: 100%;
}
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.cab-sup-sup {
    background-color: #122ab2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 0 auto;
    padding: 2px 5px;    
}
.complete-css {
    background-color: #122ab2;
    max-width: 100%;
}
.cpp {
    color: white;          
}
.cab-superior {
    background-color: #2c70ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 0 auto;
}

.complete-cs {
    background-color: #2c70ff;
    max-width: 100%;
}
.logo {
    color: white;
    display: flex;
} 
.links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
li > a {
    color: white;
}
.cab-inferior {
    padding: 25px 5px;
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.div-principal {
    max-width: 960px;
    margin: 0 auto;
}
.sobre {
    
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 30px
}
.sobre-superior {
    padding-top: 20px;
    padding-left: 5px ;
    border-top: solid #222222 1px;
    max-width: 960px;
}
.sobre-inferior {
    padding-left: 5px;
    display: flex;
    padding: 0 5px;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
    
.sobre-1 {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}
.sobre-2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 450px;
    flex-wrap: wrap;
    
}
.img-1 {
   max-width: 225px;
}
.img-2 {
   height: 250px;
   max-width: 225px;
}
.produto {
    border-top: 1px solid #222222;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 960px;
}
.title-prod {
    padding-left: 5px ;

}
.cores {
    padding-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.purple {
    border-top: #ae81ff 5px solid ;
    display: flex;
    flex-direction: column;
    max-width: 300px;
   
}
.pink {
    border-top: #f9265e 5px solid ;
    display: flex;
    flex-direction: column;
    width: 300px;
    
} 
.blue {
    border-top: #66d9eb 5px solid ;
    display: flex;
    flex-direction: column;
    width: 300px;

 
}
.nc {
    padding: 15%;
     background-color: rgb(242, 237, 237);
}
.div-secundaria {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.preco {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 960px;
    background-color: rgb(242, 237, 237);
    padding: 40px 0;
    margin: 0 auto;

}
.c-comprar {
    background-color: rgb(242, 237, 237);
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.cobre {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(242, 237, 237);
    border: 2px solid white;
    padding: 4%;
    align-items: center;
    width: 200px;
}
.prata {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(242, 237, 237);
    border: 2px solid white;
    padding: 4%;
    align-items: center;
    width: 200px;
}
.ouro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(242, 237, 237);
    border: 2px solid white;
    padding: 4%;
    align-items: center;
    width: 200px;
}
.comprar {
    border: black solid 3px;
    padding: 5px 20px;
    font-size: 100%;
    text-align: center;
    font-weight: bold;
} 
.nav-cobre  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.nav-prata  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav-ouro  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.c-items {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    gap: 40px;
}
.item {
    width: 300px;
}
.linha1 {
    display: flex;
    max-width: 960px;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.linha2 {
    display: flex;
    max-width: 960px;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.qualidade {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.cor {
    width: 4px;
    height: 20px;
}
.um {
    background-color: #ae81ff;
}
.dois {
    background-color: #f9265e;
}
.tres {
    background-color: #66d9eb;
}
.quatro {
    background-color: #ae81ff;
}
.cinco {
    background-color: #f9265e;
}
.seis {
    background-color: #66d9eb;
}
.complete-f-main {
    background-color:  rgb(242, 237, 237);
    width: 100%;
    display: flex;
}
.f-main {
    display: flex;
    margin: 0 auto;
    background-color:  rgb(242, 237, 237);
    max-width: 960px;
    width: 100%;
}
.f-main-p {
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 30px 0;
     flex-wrap: wrap;
}
.f-main-1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.tfm {
    font-size: 35px;
}

.f-main-2 {
    display: flex;  
    align-items: center;
    flex-wrap: wrap;
}
.input {
   padding: 20px ;
   border: 2px solid  #2c70ff;
   width:350px;

}
.assinar {
    color: white;
    background-color: #2c70ff ;
    padding: 14px ;
    width: 150px;
    text-align: center;
}
footer {
    padding: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color:#2c70ff ;
  }
